<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thecoffeehouse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheCoffeeHouse">
        <activity android:name=".test_screen_341"></activity>
        <activity android:name=".account_screen_341" />
        <activity android:name=".store_screen_341" />
        <activity android:name=".MainActivity_341" />
        <activity android:name=".orderScreen_341" />
        <activity android:name=".Home_341"/>
        <activity android:name=".NhapMaXacThuc_341" />
        <activity android:name=".NhapSoDienThoai_341" />
        <activity android:name=".Login_341" />
        <activity android:name=".KhoiDong_341">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>